/* Main Stylesheet for responsive styles for child theme */

@media screen and (max-width: 1024px) {
  .flex-4-5-col,
  .flex-3-4-col,
  .flex-2-3-col,
  .flex-3-5-col,
  .flex-2-col,
  .flex-2-5-col,
  .flex-3-col,
  .flex-4-col,
  .flex-1-5-col,
  .city-block {
    width: 100%;
  }

  .margin-small-2-col {
    flex: 0;
  }

  .flex-container,
  .flex-container-child > div {
    flex-flow: column wrap;
  }

  .newsletter-container.flex-container {
    flex-flow: column-reverse wrap;
  }

  .newsletter-container > div {
    margin: 20px 0;
  }

  .board-member-item-top {
    flex-flow: column-reverse;
  }

  .board-member-item-inner > div,
  .post-board-container > div {
    margin: 10px 0;
    text-align: center;
  }

  .shortcode-board-member-inner .board-member-img {
    width: 100%;
  }

  .price-row .mepr-price-box,
  .price-row .mepr-price-boxes {
    width: 100% !important;
    display: block !important;
  }

  .container.main-content .row .col .board-member-img img {
    width: 100%;
  }
}
