/***** Main Stylesheet for Child Theme *****/

/* General Styles */

.meta-category {
    display: none;
}

.preview-msg {
    border: 1px solid #ccc;
    padding: 1em;
    background: #eee;
}

.logged-in .preview-msg {
    display: none;
}

.single-post .uncategorized {
    display: none !important;
}

.mp-form-row.mepr_bold.mepr_price * {
    font-size: 28px !important;
    color: #d5641c;
    font-weight: bold;
}

.mp-form-row.mepr_bold.mepr_price {
    margin-bottom: 30px;
}

.amazon-widget {
    background-color: #9ccf9b;
    padding: 50px 30px;
}

.amazon-widget * {
    color: #000;
}

.amazon-widget a {
    background-color: #4b4145;
    border: 2px solid #4b4145;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: ease 0.3s;
}

.amazon-widget a:hover {
    background: #fff;
    border: 2px solid #4b4145;
}

.white-text,
.white-text * {
    color: #fff;
}

.image-border {
    border: 3px solid #fff;
}

.margin-center-element {
    margin: auto;
}

.post-featured-img.margin-center-element {
    display: block;
    text-align: center;
}

html li {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

#link-expired {
    display: none;
}

.uname-expired {
    background: #e5e5e5;
    display: inline-block;
    margin: 8px 0;
    padding: 15px;
}

/* End General Styles */

/* Hide Comments section on blog posts */
.comments-section {
    display: none;
}

.blog-posts-header-font-size .blog-recent .col .post-header h3 {
    font-size: 40px;
    line-height: 1.15em;
}

/* End */

/* Header Styles */

.top-login-nav {
    display: flex;
    justify-content: flex-end;
}

.top-login-nav a {
    margin: 0 10px;
}

.secondary-nav-button a {
    color: #fff !important;
    font-size: 16px !important;
    padding: 5px 30px !important;
    text-align: center;
}

.general-button a {
    color: #fff !important;
    font-size: 16px !important;
    padding: 15px 30px !important;
    margin: 0 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.blue-button a {
    background: #006b94;
}

.green-button a {
    background: #02ae4b;
}

.rust-button a {
    background: #d5641c;
}

.gold-button a {
    background: #dba510;
}

/* End */

/* Container styles */

.flex-container,
.flex-container-child > div {
    display: flex;
}

.flex-container.keep-flex {
    display: flex;
    flex-flow: row;
}

.flex-wrap,
.flex-wrap-child > div {
    flex-wrap: wrap;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-h-center {
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-child-v-h-center > div {
    align-items: center;
    justify-content: center;
}

.flex-1-col {
    width: 100%;
}
.flex-4-5-col {
    width: 80%;
}
.flex-3-4-col {
    width: 75%;
}
.flex-2-3-col {
    width: 66.66%;
}
.flex-3-5-col {
    width: 60%;
}
.flex-2-col {
    width: 50%;
}
.flex-2-5-col {
    width: 40%;
}
.flex-3-col {
    width: 33.33%;
}
.flex-4-col {
    width: 25%;
}
.flex-1-5-col {
    width: 20%;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.margin-small-2-col {
    margin: 10px;
    flex: 0 1 calc(50% - 20px);
}

/* End */

/* Styles for Board Members */

.wpb_wrapper .shortcode-board-member-container {
    margin-bottom: 80px;
}

.board-member-item {
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.container.main-content .row .col .board-member-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0;
}

.single .container.main-content .row .col .board-member-img img {
    width: 100%;
    min-height: 250px;
}

.board-member-nsbf-position {
    font-weight: bold;
    margin-bottom: 20px;
}

.board-member-organization {
    color: #d5641c;
    font-weight: bold;
}

.board-member-email a {
    font-weight: bold;
    color: #006b94;
}

.profile-btn {
    width: 100%;
}

.profile-btn a {
    margin: 0;
    width: 100%;
}

.post-featured-img.board-member-img {
    width: 100%;
}

.shortcode-board-member-inner .board-member-img {
    width: 150px;
}

.board-member-item-inner > div,
.post-board-container > div {
    margin: 10px;
}

.post-board-title {
    margin-bottom: 20px;
}

.board-member-item.basic-item {
    border: initial;
    padding: 0;
}

.board-member-item.basic-item * {
    font-weight: normal;
}

div[class*='chair'].basic-item {
    margin-bottom: 0;
}

div[class*='chair'].basic-item * {
    font-weight: 700 !important;
}

.placeholder-board {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.placeholder-board i {
    font-size: 80px;
}

.board-member-item.basic-item .board-member-item-info-container {
    margin: 5px;
}

.shortcode-board-member-container.no-margin {
    margin-bottom: 0;
}

.board-info-bottom > div {
    margin-bottom: 15px;
}

/* End */

/* Form style sections */

.form-style-1 .mec-event-article.mec-clear > div:first-child {
    background: #dba510;
    top: 0;
    display: flex;
    padding: 1em;
}

.form-style-1 .mec-event-article.mec-clear > div:nth-child(2) {
    text-align: left;
    padding: 1em;
}

.form-style-1 .mec-event-article.mec-clear > div:nth-child(3) {
    width: 300px !important;
    padding: 1em !important;
}

.form-style-1 .mec-event-article.mec-clear > div:nth-child(3) > a {
    background-color: #dba510;
    color: #fff;
}

.form-style-1 .mec-event-article.mec-clear > div {
    display: flex;
    align-items: center;
}

.form-style-1 .mec-event-article.mec-clear > div:first-child * {
    color: #fff;
}

.form-style-1 .mec-event-article.mec-clear {
    background: #f4f4f4;
    display: flex;
    padding: 0;
    height: auto !important;
    min-height: auto;
}

.form-style-1 .mec-event-article.mec-clear * {
    position: relative !important;
}

/* End */

/* Styles for default style toggle accordions */

.main-content div[data-style='default'] .toggle h3,
.main-content div[data-style='default'] .toggle h3 a {
    font-size: 36px;
    line-height: 1.25em;
}

.main-content .toggle-style-1 .toggle h3 a i {
    top: 50%;
    transform: translateY(-50%);
}

/* End */

/* Styles for Document Library sidebar */

.document-resource-sidebar #menu-byway-document-resources li a {
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    padding: 20px;
    position: relative;
    color: #4b4145;
    font-weight: bold;
    transition: 0.3s ease;
}

.document-resource-sidebar #menu-byway-document-resources li a:hover,
.document-resource-sidebar
    #menu-byway-document-resources
    li.current-menu-item
    a {
    background-color: #dba510;
    color: #fff;
}

.document-resource-sidebar #menu-byway-document-resources li a::before {
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: #dba510;
    left: 0;
    top: 0;
}

/* End */

/* Mailchimp Resubscribe Form */
.indicates-required {
    margin-top: 1em;
    margin-bottom: 2em;
}

/* End */

/* Newsletter Styles */

.newsletter-container > div {
    margin: 20px;
}

.newsletter-signup-inner {
    background: #f0f0f0;
    padding: 1em;
    border: 1px solid #4b4145;
}

.newsletter-inner > .newsletter-header:first-child {
    background: #dba510;
}

.newsletter-inner > .newsletter-header:first-child * {
    color: #fff;
}

.newsletter-header {
    margin-bottom: 10px;
    padding: 1em;
    background: #f0f0f0;
    cursor: pointer;
}

.newsletter-header:hover {
    background: #d5d5d5;
}

.newsletter-header h4 {
    color: #006b94;
}

.newsletter-signup-inner input[type='text'],
.newsletter-signup-inner input[type='email'] {
    background: #fff;
}

.newsletter-item {
    margin-bottom: 10px;
}

.newsletter-item h5 {
    margin: 0;
    font-weight: 500;
}

.newsletter-item,
.webinar-item {
    border-bottom: 1px solid#ccc;
}

.newsletter-item > div,
.webinar-item > div {
    padding: 10px;
}

.webinar-title,
.webinar-date {
    margin-top: 15px;
    margin-bottom: 15px;
}

.in-the-news {
    width: 100%;
}

.webinar-header .webinar-title h5,
.webinar-header .webinar-date h5 {
    color: #fff;
}

.webinar-header > div {
    border: 1px solid #ccc;
    padding: 0 15px;
    background: #d5641c;
}

.webinar-header > div {
    border: 1px solid #ccc;
    padding: 0 15px;
}

/* End */

/* Style for Price boxes */

.price-row .mepr-price-box {
    background-color: transparent !important;
    width: calc(33% - 20px) !important;
    padding: 20px !important;
    border-radius: 0 !important;
    margin-bottom: 20px !important;
    display: flex !important;
    flex-flow: column !important;
}

.price-row .mepr-price-box:nth-child(1) {
    background-color: #d5641c !important;
}

.price-row .mepr-price-box:nth-child(2) {
    background-color: #dba510 !important;
}

.price-row .mepr-price-box:nth-child(3) {
    background-color: #02ae4b !important;
}

.price-row .mepr-price-box:nth-child(4) {
    background-color: #006b94 !important;
}

.price-row .mepr-price-box:nth-child(5) {
    background-color: #d5641c !important;
}

.price-row .mepr-price-box:nth-child(6) {
    background-color: #dba510 !important;
}

.price-row .mepr-price-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.price-row .mepr-price-box-title {
    font-size: 36px !important;
    font-family: 'Fira Sans Extra Condensed';
    line-height: 1.15em;
    margin-bottom: 30px !important;
}

.price-row .mepr-price-box-price {
    margin-bottom: 1em !important;
    line-height: 1em;
}

.price-row .mepr-price-box-button * {
    width: 100% !important;
    display: block;
}

.price-row .mepr-price-box-button a {
    border: 2px solid #fff;
    color: #fff !important;
    transition: ease 0.3s;
    padding: 10px;
    border-radius: 4px;
    max-width: 250px;
    margin: auto;
}

.price-row .mepr-price-box-button a:hover {
    background: #fff;
    color: #4b4145 !important;
}

.price-row .mepr-price-box-foot {
    /* margin-top:auto; */
}

/* End */

/* Style for Footer */

#footer-outer #footer-widgets h4 {
    font-size: 32px;
}

#footer-outer
    #footer-widgets
    .widget_nav_menu
    .menu-footer-menu-container
    ul
    li {
    margin-bottom: 10px;
    padding-left: 15px !important;
    position: relative;
}

#footer-outer
    #footer-widgets
    .widget_nav_menu
    .menu-footer-menu-container
    ul
    li::before {
    content: '';
    border-left: 5px solid #dba510;
    position: absolute;
    top: -5px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
}

#footer-outer
    #footer-widgets
    .widget_nav_menu
    .menu-footer-menu-container
    ul
    li::after {
    content: '';
    border-left: 5px solid #dba510;
    position: absolute;
    top: 13px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}

.newsletter-footer input[type='text'],
.newsletter-footer input[type='email'] {
    background: #f2f2f2;
}

.newsletter-footer .wpcf7-response-output {
    background-color: #02ae4b !important;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

#footer-outer #footer-widgets .col .newsletter-footer input[type='submit'] {
    background: #dba510 !important;
    font-size: 18px;
    padding: 8px 30px;
}

/* End Style for footer */
