@use 'variables' as *;

// border-color Specs
.border-forestgreen {
    border-color: var(--forestgreen);
    border-radius: 0.5rem;
}

.border-mangotango {
    border: 1px solid var(--mangotango);
    border-radius: 0.5rem;
}

.border-goldenrod {
    border: 1px solid var(--goldenrod);
    border-radius: 0.5rem;
}

.border-steelblue {
    border: 1px solid var(--steelblue);
    border-radius: 0.5rem;
}

.border-dimgray {
    border: 1px solid var(--dimgray);
    border-radius: 0.5rem;
}

.border-outerspace {
    border: 1px solid var(--outerspace);
    border-radius: 0.5rem;
}

.spacer {
    padding: 0.5rem;
}

.spacer-y-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.spacer-y-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.spacer-y-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.spacer-y-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 765px) {
    .border-forestgreen,
    .border-mangotango,
    .border-goldenrod,
    .border-steelblue,
    .border-dimgray,
    .border-outerspace {
        border: none;
    }
}
