# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# THEME LEVEL FILES

# Reference Files

# IDE
.idea
.history
.DS_Store

# WORDPRESS LEVEL FILES FROM https://wpengine.com/wp-content/uploads/2013/10/recommended-gitignore-no-wp.txt
*~
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific

# wpengine specific
.gitattributes
_wpeprivate*

/index.php
/license.txt




# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi